{%extends 'base/base.html'%}
{%block title%}Sources Details{%endblock%}
{%block extrahead%}

{%endblock%}
{%block content%}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/cirofeed">Cirofeed</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/cirofeed">Home</a></li>
        <li><a href="/cirofeed/categories">Categories</a></li>
        <li class="active"><a href="/cirofeed/sources">Sources</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <h1>{{source.name}}</h1>
    <p class="lead">{{source.description}}</p>
    <p class="lead">{{source.url}}</p>
    <p class="lead">{{source.category.get().name}}</p>
    <form method="post" action="/cirofeed/sources/delete">
        <input name="source_key" value="{{source.key.urlsafe()}}" type="hidden"/>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

{%endblock%}