{%extends 'base/base.html'%}
{%block title%}Sources{%endblock%}
{%block extrahead%}

{%endblock%}
{%block content%}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/cirofeed">Cirofeed</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/cirofeed">Home</a></li>
        <li><a href="/cirofeed/categories">Categories</a></li>
        <li class="active"><a href="/cirofeed/sources">Sources</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Add Source</h2>
      <hr>
      <form method="post" action="/cirofeed/sources/add">
        <label>Name of the Source</label>
        <input class="form-control" name="source_name" placeholder="Technology, Business"/>
        <span class="help-block">
          This is the name that will be used to 
          filter the content and also the sources.
        </span>

        <label>URL</label>
        <input class="form-control" name="source_link" placeholder="E.g: www.reddit.com/r/technology/.rss"/>
        <span class="help-block">
          This is the name that will be used to 
          filter the content and also the sources.
        </span>

        <label>Description</label>
        <input class="form-control" name="source_description" placeholder="Technology, Business"/>
        <span class="help-block">
          This is the description of the category that will remind you 
          what the category is about.
        </span>

        <label>Category</label>
        <select name="source_category" class="form-control">
          {%for category in categories%}
          <option value="{{category.name}}">{{category.name}}</option>
          {%endfor%}
        </select>
        <span class="help-block">
          This is the description of the category that will remind you 
          what the category is about.
        </span>
        <button type="submit" class="btn btn-success">Save!</button>
      </form>
      <br>
    </div>

    <div class="col-md-5">
      <h2>Sources</h2>
      <hr>
      <ul class="list-unstyled">
        {%for source in sources%}
        <li><a href="http://{{source.url}}">{{source.name}}</a></li>
        {%endfor%}
      </ul>
    </div>
  </div>

</div>


{%endblock%}